<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="title" content="Protection+">
<meta name="og:title" content="Protection+">
<meta name="description" content="Hey, I am Protection+ i am a multiple discord bot i can help you with your server try me!">
<meta name="og:description" content="Hey, I am Protection+ i am a multiple discord bot i can help you with your server try me!">
<meta name="og:image" content="https://imgur.com/7Ni07EG">
<meta name="image" content="https://imgur.com/7Ni07EG">
<meta name="theme-color" content="#9e1c35">
<meta name="og:theme-color" content="#9e1c35">
<meta name="keywords" content="bot discord,Protection+,Protection+,Protection+,Protection+ bot,best bot discord,bot morocco discord,arab bot discord,guild,help,commands">
<meta name="og:keywords" content="bot discord,Protection+,Protection+,Protection+,Protection+ bot,best bot discord,bot morocco discord,arab bot discord,guild,help,commands">
<meta name="viewport" content="width=device-width, initial scale=1"/>
<meta http-equiv="Content-Security-Policy" content="default-src *; img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
<link rel="icon" type="image/png" href="./images/logo.png"/>
<title>Protection+</title>
    <!-- css -->
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"/>
<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <!-- js -->
<script src="main.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/eaa206fe23.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<style>

  .cent {
      -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  }
  
   .zoom {
  transition: transform .6s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

</style>
<script>
  function test() {
window.history.pushState('new', 'Title', '/dashboard');
  }
</script>
  
<body style="background-color: #1a1a1a;">
    <div>

<nav>
	<input id="nav-toggle" type="checkbox">
	<div class="logo Heavyfont">Protection+</strong></div>
	<ul class="links">
    <li><a class="zoom Heavyfont" href="/commands">COMMANDS</a></li>
		<li><a class="zoom Heavyfont" href="/invite">INVITE</a></li>
		<li><a class="zoom Heavyfont" href="/support">SUPPORT</a></li>
	</ul>
	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>
  

  
  <div class="container">

  <div id="wrap">
      <a class="Heavyfont text" style=" font-size: 100px;">404</a><br>
      <a class="Heavyfont text2" style="font-size: 30px;">Only guild owner can manage the protection</a><br>

    </div>
  <div class='center' style='display: flex;justify-content: center;align-items: center;'>
    <div class='row' style='text-align: center;'> <!-- Start Main grid class -->
      <div class=' zoom col-6'> <!-- Start 6 small grid class -->
        <!-- Start Add to discord link -->
        <a 
           href="/invite" 
           class="button2 centering4"             
           style="text-decoration:none; color: white;">

              <i></i>ADD&nbsp;BOT</a>
        <!-- End Add to discord link -->
      </div> <!-- End 6 small grid class -->
      <div class=' zoom col-6'> <!-- Start 6 small grid class -->
        <!-- Start Login link -->
          <a 
             href="/" 
             class="button3 centering4"
             style="text-decoration:none; color: white;">
              Home
          </a>

      </div> <!-- End 6 small grid class -->
    </div> <!-- End Main grid class -->
</div>

  </div>


  </body></html>



                  <script type="text/javascript">  
    document.addEventListener("contextmenu", function(freelancernasim){
      freelancernasim.preventDefault();
    })
    </script>


    
    
      <script language="JavaScript">
      
       window.onload = function () {
           document.addEventListener("contextmenu", function (e) {
               e.preventDefault();
           }, false);
           document.addEventListener("keydown", function (e) {
               //document.onkeydown = function(e) {
               // "I" key
               if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                   disabledEvent(e);
               }
               // "J" key
               if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                   disabledEvent(e);
               }
               // "S" key + macOS
               if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                   disabledEvent(e);
               }
               // "U" key
               if (e.ctrlKey && e.keyCode == 85) {
                   disabledEvent(e);
               }
               // "F12" key
               if (event.keyCode == 123) {
                   disabledEvent(e);
               }
           }, false);
           function disabledEvent(e) {
               if (e.stopPropagation) {
                   e.stopPropagation();
               } else if (window.event) {
                   window.event.cancelBubble = true;
               }
               e.preventDefault();
               return false;
           }
       }
//edit: removed ";" from last "}" because of javascript error
</script>