<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="title" content="Protection+">
<meta name="og:title" content="Protection+">
<meta name="description" content="Hey, I am Protection+ i am a multiple discord bot i can help you with your server try me!">
<meta name="og:description" content="Hey, I am Protection+ i am a multiple discord bot i can help you with your server try me!">
<meta name="og:image" content="https://imgur.com/7Ni07EG">
<meta name="image" content="https://imgur.com/7Ni07EG">
<meta name="theme-color" content="#9e1c35">
<meta name="og:theme-color" content="#9e1c35">
<meta name="keywords" content="bot discord,Protection+,Protection+,Protection+,Protection+ bot,best bot discord,bot morocco discord,arab bot discord,guild,help,commands">
<meta http-equiv="Content-Security-Policy" content="default-src *; img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
<meta name="og:keywords" content="bot discord,Protection+,Protection+,Protection+,Protection+ bot,best bot discord,bot morocco discord,arab bot discord,guild,help,commands">
<meta name="viewport" content="width=device-width, initial scale=1"/>
<link rel="icon" type="image/png" href="./images/logo.png"/>
<title>Protection+</title>
    <!-- css -->
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"/>
<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <!-- js -->
<script src="main.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/eaa206fe23.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<style>

  .cent {
      -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  }
  
   .zoom {
  transition: transform .6s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

</style>
<script>
  function test() {
window.history.pushState('new', 'Title', '/dashboard');
  }
</script>
  
<body style="background-color: #1a1a1a;">
    <div>

<nav>
	<input id="nav-toggle" type="checkbox">
	<div class="logo Heavyfont">Protection+</strong></div>
	<ul class="links">
    <li><a class="zoom Heavyfont" href="/commands">COMMANDS</a></li>
		<li><a class="zoom Heavyfont" href="/invite">INVITE</a></li>
		<li><a class="zoom Heavyfont" href="/support">SUPPORT</a></li>
	</ul>
	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>
  
<center>
    <div>

        <img id="anim" style="margin-top: -130px;" src="./images/logo.png">
      </div>

</center>
  
  <div class="container" style="margin-top: 400px; margin-bottom: 200px;">

  <div id="wrap">
      <a class="Heavyfont text" style=" font-size: 39px;">Best Discord bot</a><br>

    </div>
  <div class='center' style='display: flex;justify-content: center;align-items: center;'>
    <div class='row' style='text-align: center;'> <!-- Start Main grid class -->
      <div class=' zoom col-6'> <!-- Start 6 small grid class -->
        <!-- Start Add to discord link -->
        <a 
           href="/invite" 
           class="button2 centering4"             
           style="text-decoration:none; color: white;">

              <i></i>ADD&nbsp;BOT</a>
        <!-- End Add to discord link -->
      </div> <!-- End 6 small grid class -->
      <div class=' zoom col-6'> <!-- Start 6 small grid class -->
        <% if(!user) { %> <!-- Check if user logged in -->
        <!-- Start Login link -->
          <a 
             href="login" 
             class="button3 centering4"
             style="text-decoration:none; color: white;">
              Login.
          </a>
        <!-- End Login link -->
        <% } else {%> <!-- If user logged -->
        <!-- Start DASHBOARD link -->
          <a 
             href="dashboard" 
             class="button3 centering4"             
             style="text-decoration:none; color: white;">

              <i class="padding"></i>
              DASHBOARD.
          </a>
        <!-- End DASHBOARD link -->
        <% } %> <!-- End Check if user logged in -->
      </div> <!-- End 6 small grid class -->
    </div> <!-- End Main grid class -->
</div>

  
 <!--       <button onclick="test()">
          click
    </button>
    
  -->
  
  
  </div>
  


 <!-- 
  <div>
    <img class="feature" src="https://cdn.discordapp.com/attachments/806425473809645578/811184838525583370/unknown.png">

  </div>
  -->
  <div class="right-kemzo" >
  

  

  
  
  <div class="text-center text-dark display: block;" style="margin-top: 400px;">
     
      <div class="container">
  <div class="row text-center text-dark">
   
                     <div class="col-sm-4 text2 zoom">
                      <i class="" style="font-size: 45px;"></i>
                      <p class="text-dark owner-text Heavyfont">Users : <%= client.users.cache.size %></p>
                    </div>
    <div class="col-sm-4 zoom text2">
                      <i class="" style="font-size: 45px;"></i>
                      <p class="text-dark owner-text Heavyfont">Servers : <%= client.guilds.cache.size %></p>
                    </div>
    <div class="col-sm-4 zoom text2">
                      <i class="" style="font-size: 45px;"></i>
                      <p class="text-dark owner-text Heavyfont">Channels : <%= client.channels.cache.size %></p>
                    </div>
               
  </div>
</div>
    </div>
                                                     
                               
  </div>

  
  

  
  
  
  </body></html>
  
  

   
  

    
 




                  <script type="text/javascript">  
    document.addEventListener("contextmenu", function(freelancernasim){
      freelancernasim.preventDefault();
    })
    </script>

<svg id="sss" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" version="1.1" style="margin: -114px 0px 0px 0px;">
  <path class="w2" d="m-1.2 186.8c0 0 45-1.1 67.5-2 190.8-7.9 184.4-4 297.5 2 120 5.3 241.2 42.3 361.2 63.6 120 21.7 245 23 365-3.3 120-26.7 194-95.4 290.1-145.1 20.1-10.4 60-32 60-32V294H1380 1080 720 360 60 0Z"></path>
  <path class="w3" d="M0 224 60 213.3C120 203 228.9 182.5 348.9 188.2 468.9 193.5 600 224 720 245.3 840 267 960 277 1080 250.7 1200 224 1320 160 1380 128l60-32V320H1380 1080 720 360 60 0Z"></path>
</svg> 
    
    
      <script language="JavaScript">
      
       window.onload = function () {
           document.addEventListener("contextmenu", function (e) {
               e.preventDefault();
           }, false);
           document.addEventListener("keydown", function (e) {
               //document.onkeydown = function(e) {
               // "I" key
               if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                   disabledEvent(e);
               }
               // "J" key
               if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                   disabledEvent(e);
               }
               // "S" key + macOS
               if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                   disabledEvent(e);
               }
               // "U" key
               if (e.ctrlKey && e.keyCode == 85) {
                   disabledEvent(e);
               }
               // "F12" key
               if (event.keyCode == 123) {
                   disabledEvent(e);
               }
           }, false);
           function disabledEvent(e) {
               if (e.stopPropagation) {
                   e.stopPropagation();
               } else if (window.event) {
                   window.event.cancelBubble = true;
               }
               e.preventDefault();
               return false;
           }
       }
//edit: removed ";" from last "}" because of javascript error
</script>