<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="title" content="Protection+">
<meta name="og:title" content="Protection+">
<meta name="description" content="Hey, I am Protection+ i am a multiple discord bot i can help you with your server try me!">
<meta name="og:description" content="Hey, I am Protection+ i am a multiple discord bot i can help you with your server try me!">
<meta name="og:image" content="https://imgur.com/7Ni07EG">
<meta name="image" content="https://imgur.com/7Ni07EG">
<meta name="theme-color" content="#9e1c35">
<meta name="og:theme-color" content="#9e1c35">
<meta name="keywords" content="bot discord,Protection+,Protection+,Protection+,Protection+ bot,best bot discord,bot morocco discord,arab bot discord,guild,help,commands">
<meta http-equiv="Content-Security-Policy" content="default-src *; img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
<meta name="og:keywords" content="bot discord,Protection+,Protection+,Protection+,Protection+ bot,best bot discord,bot morocco discord,arab bot discord,guild,help,commands">
<meta name="viewport" content="width=device-width, initial scale=1"/>
<script src="https://kit.fontawesome.com/eaa206fe23.js" crossorigin="anonymous"></script>
<link rel="icon" type="image/png" href="./images/logo.png"/>
<title>Protection+</title>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- css -->
<link rel="stylesheet" href="../dashboard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />

<!-- js -->
<script src="main.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>



   .zoom {
  transition: transform .6s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.2); 
}
  
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
  .soon {
    animation: slide 10s 0s infinite linear;
  background: linear-gradient(to right,#025769, #9e1c35, #025769);
  background-size: 500%;	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
    
  }


@keyframes slide {
    from{background-position:0%}
    to{background-position:500%}
}
body {
  background-color: #1a1a1a;

  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
</style>
  
  <% let format = ".png" || ".gif" || ".jpg" || ".jpeg"; %>
<body style="background-color: #1a1a1a;">

<h4 class="soon">
  Soon.
  </h4>


  </body>
</html>









<script language="JavaScript">
      
       window.onload = function () {
           document.addEventListener("contextmenu", function (e) {
               e.preventDefault();
           }, false);
           document.addEventListener("keydown", function (e) {
               //document.onkeydown = function(e) {
               // "I" key
               if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                   disabledEvent(e);
               }
               // "J" key
               if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                   disabledEvent(e);
               }
               // "S" key + macOS
               if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                   disabledEvent(e);
               }
               // "U" key
               if (e.ctrlKey && e.keyCode == 85) {
                   disabledEvent(e);
               }
               // "F12" key
               if (event.keyCode == 123) {
                   disabledEvent(e);
               }
           }, false);
           function disabledEvent(e) {
               if (e.stopPropagation) {
                   e.stopPropagation();
               } else if (window.event) {
                   window.event.cancelBubble = true;
               }
               e.preventDefault();
               return false;
           }
       }
//edit: removed ";" from last "}" because of javascript error
</script>